<%= javascript_include_tag('parent_item', :plugin => 'producer_fields') %>

<h2><%=l(:label_device_new)%></h2>

<%= labelled_form_for @device do |f| %>
  <%= error_messages_for 'device' %>

  <div class="box tabular">
  <!--[form:device]-->
  <p><%= f.select :category, [[t(:screen_server), 'screen_server'], [t(:LMS), 'lms'], [t(:camera), 'camera'], [t(:projector), 'projector'], [t(:POS), 'pos'], [t(:watch_folder), 'watchfolder'], [t(:ftp_folder), 'ftp_folder']], :required => true %></p>
  <p><label><%= t(:parent_item) %><span class="required"> *</span></label><%= f.collection_select :deviceable_id, Cinema.find(:all) + Screen.find(:all), :id, :common_identifier, :required => true %></p>
  <%= f.hidden_field :parent_type, :value => "Cinema" %>
  <p><%= f.text_field :identifier, :required => true, :size => 60 %></p>
  <p><%= f.text_field :manufacturer, :size => 60 %></p>
  <p><%= f.text_field :model, :size => 60 %></p>
  <p><%= f.text_field :software_version, :size => 60 %></p>
  <p><%= f.text_field :firmware_version, :size => 60 %></p>
  <p><%= f.text_field :ip_address, :size => 60 %></p>
  <p><%= f.text_field :uuid, :size => 60 %></p>
  </div>

  <%= submit_tag l(:button_create) %>
<% end %>