<div id="similar_articles_root">
  <div id="similar_articles" class="dym">
    <b><%= l(:dym_similar_articles_caption) %> (<span id="articles_count">&nbsp;</span>)</b>
    <ul id="similar_articles_list"></ul>
  </div>
</div>
<div id="similar_issues_root">
  <div id="similar_issues" class="dym">
    <b><%= l(:dym_similar_issues_caption) %> (<span id="issues_count">&nbsp;</span>)</b>
    <ul id="similar_issues_list"></ul>
  </div>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'didyoumean_qa', :plugin => 'aam_redmine_didyoumean_qa' %>
  <%= javascript_include_tag 'didyoumean_qa', :plugin => 'aam_redmine_didyoumean_qa' %>
<% end %>

<script type="text/javascript">
  var dym_data = {
	project_id: "<%= @project.id %>",
	issue_id: "<%= @issue.id || '' %>",
    issue_url: "<%= url_for(Issue.new) %>",
	event_type: "<%= issues_didyoumean_qa_event_type %>",
    search_url: "<%= url_for(:action => 'index', :controller => 'search_messages') %>",
    label_more: "<%= l(:dym_more) %>"
  };
</script>
<%= javascript_tag "onLoad();" %>
