
<div class="contextual">
  <%= link_to l(:label_working_periods_new), {:controller => 'working_periods', :action => 'new'}, :class => 'icon icon-add' %>
</div>

<h2><%= t(:working_period_plural)%></h2>

<% unless(@adjusted_working_periods.blank?) %>
  <h3>
    <%= 'Original Time Zone: ' + @adjusted_working_periods.first[0].time_zone_string %>
  </h3>
  <h3>
    <% shown_time_zone = (User.current.time_zone.blank? ? Time.zone : User.current.time_zone) %>
    <% shown_time_zone_string = "(GMT" + shown_time_zone.now.strftime("%:z") + ") " + shown_time_zone.name %>
    <%= 'Shown in: ' + shown_time_zone_string %>
  </h3>
<% end %>

<table class="list">
  <colgroup>
     <col span="1" style="width: 10%;">
     <col span="1" style="width: 10%;">
     <col span="1" style="width: 70%;">
     <col span="1" style="width: 10%;">
  </colgroup>
  <thead>
    <tr>
      <th><%= l(:column_day) %></th>
      <th><%= l(:column_start_time) %></th>
      <th><%= l(:column_end_time) %></th>
      <th><%= l(:column_delete) %></th>
    </tr>
  </thead>
  <tbody>
  <% actual_working_period = nil %>
  <% @adjusted_working_periods.each do |adjusted_working_period| %>
    <tr style="height:22px;">
      <td><%= adjusted_working_period[0].day_list %></td>
      <td><%= adjusted_working_period[0].start_time_string %></td>
      <td><%= adjusted_working_period[0].end_time_string %></td>
      <td>
        <% if(adjusted_working_period[1] != actual_working_period) # If on a new actual record, add a delete command %>
          <% actual_working_period = adjusted_working_period[1] %>
          <%= link_to l(:button_delete), working_period_path(actual_working_period), :data => {:confirm => l(:text_working_periods_destroy_confirmation)}, :method => :delete, :class => 'icon icon-del' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>