<h2><%=l(:label_working_periods_new)%></h2>

<%= labelled_form_for @working_period do |f| %>
  <%= error_messages_for 'working_period' %>

  <div class="box tabular">
  <!--[form:working_period]-->
  <p><%= f.select :day_list, @working_period.days, :required => true, :size => 41 %></p>
  <p><%= f.text_field :start_time_string_new, :required => true, :size => 41 %> <%= l(:field_start_time_tip) %></p>
  <p><%= f.text_field :end_time_string_new, :required => true, :size => 41 %> <%= l(:field_end_time_tip) %></p>
  <p><%= f.time_zone_select :time_zone, nil, :include_blank => true, :default => User.current.pref.time_zone %></p>
  </div>

  <%= submit_tag l(:button_create) %>
<% end %>

<%= link_to l(:button_back), working_periods_path %>