<h2><%= t(:pause_list_title) + @issue.id.to_s %></h2>

<table class="list">
  <colgroup>
     <col span="1" style="width: 15%;">
     <col span="1" style="width: 85%;">
  </colgroup>
  <thead>
    <tr>
      <th><%= l(:column_start_time) %></th>
      <th><%= l(:column_end_time) %></th>
    </tr>
  </thead>
  <tbody>
    <% @pauses.each do |pause| %>
      <tr>
        <td><%= pause.start_date_string %></td>
        <td><%= pause.end_date_string %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to l(:button_back), issue_path(@issue) %>