<h2><%= link_to l(:circuit_group_plural), circuit_groups_path %> &#187; <%=h @circuit_group.name %> </h2>

<%= labelled_form_for @circuit_group do |f| %>
  <%= error_messages_for 'circuit_group' %>

  <div class="box tabular">
    <!--[form:circuit_group]-->
    <p><%= f.text_field :name, :required => true, :size => 60 %></p>
    <p><%= f.select :cinema_ids, Cinema.all.collect { |c| [c.name, c.id] }, { :selected => @circuit_group.cinema_ids, :required => true }, { :multiple => true, :size =>10 } %></p>
  </div>

  <%= submit_tag l(:button_update) %>
<% end %>