
<div class="contextual">
  <%= link_to l(:label_working_periods_new), {:controller => 'working_periods', :action => 'new'}, :class => 'icon icon-add' %>
</div>

<h2><%= t(:working_period_plural)%></h2>


<% unless(@adjusted_working_periods.blank?) %>
  <h3>
    <%= 'Original Time Zone: ' + @adjusted_working_periods.first[0].time_zone_string %>
  </h3>
  <h3>
    <%= 'Shown in: ' + (User.current.time_zone.blank? ? Time.zone.to_s : User.current.time_zone.to_s) %>
  </h3>
<% end %>

<table class="list">
  <colgroup>
     <col span="1" style="width: 10%;">
     <col span="1" style="width: 10%;">
     <col span="1" style="width: 70%;">
     <col span="1" style="width: 10%;">
  </colgroup>
  <% @adjusted_working_periods.each do |adjusted_working_period| %>
    <tr>
      <td><b>Day:</b> <%= adjusted_working_period[0].day_string %></td>
      <td><b>Start Time:</b> <%= adjusted_working_period[0].start_time_string %></td>
      <td><b>End Time:</b> <%= adjusted_working_period[0].end_time_string %></td>
      <td>
        <%= link_to l(:button_delete), working_period_path(adjusted_working_period[1]), :data => {:confirm => l(:text_working_periods_destroy_confirmation)}, :method => :delete, :class => 'icon icon-del' %>
      </td>
    </tr>
  <% end %>
</table>