<h2>Pull objects from Producer into Redmine</h2>

Saved <%= @complexes_saved %> complexes in database, <%= @complexes_skipped %> Complexes already existing<br />
Saved <%= @screens_saved %> screens in database, <%= @screens_skipped %> Screens already existing<br />
Saved <%= @devices_saved %> devices in database, <%= @devices_skipped %> Devices already existing<br />
