<% content_for :header_tags do %>
  <%= javascript_include_tag "category_tree", :plugin => 'aam_category_tree' %>
<% end %>
<%= javascript_tag "handle_dynamic_category_tree('issue_category_parent_id')" %>

<%= error_messages_for 'category' %>

<div class="box tabular">
<%
if @parent_category
  #Creating new sub category from known parent
  parent_category_id = @parent_category.id
else
  #Editing existing category or creating new from unknown parent
  parent_category_id = @category.parent_id
  category = @category
end
%>
<p><%= f.text_field :name, :size => 30, :required => true %></p>
<p><%= f.select :assigned_to_id, principals_options_for_select(@project.assignable_users, @category.assigned_to), :include_blank => true %></p>
<p><%= f.select :parent_id, issue_category_tree_options_for_select(@project.issue_categories, { :current => category, :selected => parent_category_id }),
				:label => :label_issue_category_parent_id, :include_blank => true %></p>
<p id="category-tree">
  <label for="category-root"><%= l(:label_issue_category_parent_id) %></label>
  <span id="category-tree-dropdowns"></span>
</p>

</div>
